* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.box2,
.box3 {
    background-color: white;
    width: 100%;
    height: auto;

}

.logo {
    width: 50px;
    margin-left: 50px;

}


.box2 {
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;


}

.box3 {
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: #f5f5f5;
}

.section1,
.section2 {
    height: 400px;
    border-radius: 7px;
    background-color: white;
    margin-top: 10px;
}

.section1 {

    width: 45vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.section2 {
    width: 25vw;
    height: 80vh;
    padding: 20px;
}

.tittle1 {
    width: 50vw;
    background-color: white;
}

.tittle2 {
    margin-left: 100px;
    background-color: white;
    padding-top: 10px;
    position: absolute;
    right: 200px;
}

.boxproduct1,
.boxproduct2 {
    display: flex;
    color: black;
}

.boxproduct1 {
    font-weight: bold;

}

.table {
    width: 100px;
    margin: 20px;
    display: flex;
    font-size: small;
}

.table>p {
    font-weight: bold;
}

.targ {
    width: 25px;
    height: 25px;
    border: 1px solid silver;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    background-color: #dfdddd;
    cursor: pointer;
}

.auri {
    width: 80px;
}

.element {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.element1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: small;
}

.element1>div>button {
    width: 80px;
    height: 20px;
    color: gray;

}

.subelem {
    text-align: center;
    align-content: center;
    width: 300px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #eaeaea;
    margin-bottom: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.subelem>p {
    font-size: small;
}

.subelem>.bi {
    color: orange;
}

button {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;

}

.b1 {
    background-color: #666666;
    color: beige;
}

.b2 {
    background-color: #fec107;
}

.bi-arrow-left-right {
    font-size: larger;
    color: beige
}

.bi-cart-check {
    font-size: larger;
    color: black
}

.element2 {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.element2>img {
    width: 200px;
    height: auto;
}

.element2>p {
    color: gray;
    font-weight: bold;
    font-size: small;
    justify-content: center;
}

.box3>div {
    margin: 20px;
    padding: 20px;
    background-color: white;
    width: 100vw;
    text-align: center;
    color: gray;
}

.box3>div>img {
    width: 200px;
}

@media (max-width: 500px) {
    .box3 {
        flex-direction: column;
        align-items: center;
    }

    .two,
    .three {
        display: none;
    }

    .auri {
        width: 25px;
    }

    .targ {
        width: 15px;
    }


    .section1,
    .section2,
    .foot,
    .box2 {
        width: auto;
        height: auto;
        padding-left: 0;
        margin-left: 0;
    }

    /* .element1 {
        justify-content: space-around;
    } */

    .box2,
    .box3,
    p,
    .boxproduct1,
    .boxproduct2 {
        font-size: smaller;
        margin-left: 0;
        padding-left: 0;
    }

}

/* @media (min-width: 501px) and (max-width: 800px) {} */

@media (max-width: 1200px) {
    .box3 {
        flex-direction: column;
        align-items: center;
    }

    .section1,
    .section2 {
        width: auto;
        height: auto;
    }

    .element1 {
        justify-content: space-around;
    }
}