* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgb(185, 27, 27);
}

.box1,
.box2,
.box3 {
    background-color: white;
    /* border: 1px solid black; */
    width: 100vw;
    height: auto;

}

.logo {
    width: 50px;
    margin-left: 50px;

}

.bi {
    color: black;
    font-size: 25px;
    /* padding-top: 20px; */

}

.box1 {
    display: flex;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.box2 {
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;


}

.box3 {
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: #f5f5f5;
}

.section1,
.section2 {
    height: 400px;
    border-radius: 7px;
    background-color: white;
    margin-top: 10px;
}

.section1 {

    width: 45vw;
    display: flex;
    flex-direction: column;

}

.section2 {
    width: 25vw;
    padding: 20px;
}

.tittle1 {
    width: 50vw;
    background-color: white;
}

.tittle2 {
    margin-left: 100px;
    background-color: white;
    padding-top: 10px;
    position: absolute;
    right: 200px;
}

.boxproduct1,
.boxproduct2 {
    display: flex;

}


.table {
    width: 100px;
    margin: 20px;
    display: flex;
    font-size: small;


}

.table>p {
    font-weight: bold;
}

.ta {
    width: 25px;
    height: 25px;
    border: 1px solid silver;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    background-color: #dfdddd;
}

.auri {
    width: 80px;
    height: 50px;
}

.element {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.element1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.subelem {
    text-align: center;
    align-content: center;
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #dfdddd;
    margin-bottom: 20px;
    font-weight: bold;
}

.subelem>p {
    font-size: small;
}

button {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;

}

.b1 {
    background-color: gray;
    color: beige;
}

.b2 {
    background-color: orange;
}

.bi-arrow-left-right {
    font-size: larger;
    color: beige
}

.bi-cart-check {
    font-size: larger;
    color: black
}