* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}
 h1 {
    color: #fbf5f3 !important;
 }

.bg-green {
    background-color: #164a41;
}

.bg-white {
    background-color: #fbf5f3;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 700px;
    width: 1500px;
    border: 1px solid black;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 650px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px 0px 0px 20px ;
}

.rightContainer {
    height: 650px;
    width: 1000px;
    border: 1px solid black;

    border-radius: 0px 20px 20px 0px;
}

.SubRight1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    border: 1px solid black;
    height: 325px;
    width: 1000px;
}

.SubRight2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 325px;
    width: 1000px;
}
/* #164A41
#FBF5F3 */