*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.containerTarjetas {
    display: flex;
    padding: 0 30px;
    gap: 15px;
    margin: 15px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
}

.card {
    flex: 1 1 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;          
    min-height: 420px;    
}

.card-img-top {
    width: 100%;
    height: 200px;         
    object-fit: contain;  
}

.card-body {
    flex-grow: 1;          
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width:700px) {

    .card {
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 380px;  
    }

    .card-img-top {
        height: 180px;
        object-fit: contain;
    }
}
