* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --cactus1: #164a41;
    --cactus2: #4d774e;
    --cactus3: #90c880;
    --cactus4: #f1b24a;
    --fondo: #ededed;
    --fondo1: #ffffff;
    --fondo2: #e5e5e5;
}

/* Página de lista de categorías */

body {
    background-color: var(--cactus1) !important;
}

.bg-green {
    background-color: #164a41;
}

body>h2 {

    font-size: 35px;
    color: white;
    text-align: center;
    margin: 0 0 20px 0;
}

.mainContainer {
    display: grid;
    grid-template-columns: minmax(260px, 360px) 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    align-items: start;

    width: 100%;
    padding: 10px;
    max-height: 1400px;
    margin-top: 40px;

}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* max-width: 500px; */
    width: 100%;
    height: 99%;
    padding: 15px;

    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);

}


.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    text-decoration: none;

}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 1000px;
    width: 100%;
    gap: 15px;
}

/* Mostrar 2 categorías por fila usando grid */
.gridRight {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    width: 100%;
    align-items: start;
    grid-auto-rows: 50%;
    margin-bottom: 20px;
}

.subSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    padding: 15px;
}

.subSub span {
    text-align: center;
    max-width: 90%;
    font-size: 1.2rem;
}

.img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.gridRight .subSub .img {
    max-height: 60%;
}

.gridRight .subSub.electro .img {
    max-height: 58%;
}

.imgPhone {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: contain;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    text-decoration: none;
}

span {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white !important;
}

.left span {
    font-size: 1.3rem;
}

@media (max-width: 1200px) {
    .mainContainer {
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }

    .rightContainer,
    .leftContainer {
        max-width: 100%;
        width: 100%;
    }

    .gridRight {
        grid-auto-rows: 180px;
    }

    .leftContainer {
        grid-template-columns: 1fr;
        min-width: 180px;
        height: 200px;
    }

    .left>img {
        max-height: 100px;
    }
}

@media (max-width: 900px) {

    .gridRight {
        grid-template-columns: 1fr;
    }

    .subSub {
        max-width: 100%;
        width: 100%;
    }

    body>p {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .left span {
        font-size: 1rem;
    }

    .subSub span {
        font-size: 1rem;
    }

    body>p {
        font-size: 1.5rem;
    }

    .mainContainer {
        padding: 0;
        gap: 10px;
    }
}