* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.containerLogos {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 10px 0;
    margin-top: 100px;
}

.containerImagen>img {
    width: 100px;
}

.imagenLogos {
    border-radius: 100px;
    box-shadow: 0 0 7px #e6f7ff;
    transition: color 0.3s;
}

.texto>div:hover {
    filter: drop-shadow(2px 2px 2px rgb(168, 168, 168));
}

.card {
    /* Por defecto las columnas son flex */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 0 0 calc((100% - 30px) / 3);
    max-width: calc((100% - 30px) / 3);
    padding: 12px;
}

.containerTarjetas {
    display: flex;
    padding: 0 30px;
    gap: 15px;
    margin: 15px 0;
    flex-wrap: wrap;
    justify-content: center;
    /* estrecha las imagenes al contenedor */
    align-items: stretch;

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cardprimary {
    text-decoration: none;
    color: black;
}

.btn-primary {
    width: 40px;

}

@media(max-width:700px) {
    .containerLogos {
        display: flex;
        justify-content: center;
        gap: 2px;
        margin: 0px;
        padding: 20px;
        max-height: 150px;
    }

    .containerTarjetas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        gap: 10px;
        flex-wrap: wrap;
    }


    .imagenLogos {
        max-width: 50px;
    }

    .card-img-top {
        max-width: 250px;
    }

    /* Muestra 2 columnas en pantalla */
    .card {
        flex: 0 0 calc((100% - 15px) / 2);
        max-width: calc((100% - 15px) / 2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {

    /* Muestra 5 columnas */
    .containerTarjetas {
        gap: 15px;
    }

    .card {
        flex: 0 0 calc((100% - 60px) / 5);
        max-width: calc((100% - 60px) / 5);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /* Muestra 4 columnas */
    .card {
        flex: 0 0 calc((100% - 45px) / 4);
        max-width: calc((100% - 45px) / 4);
    }
}

@media (min-width: 701px) and (max-width: 991px) {

    /* Muestra 3 columnas */
    .card {
        flex: 0 0 calc((100% - 30px) / 3);
        max-width: calc((100% - 30px) / 3);
    }
}

@media (max-width: 500px) {

    /* Solamente muestra 1 columna */
    .card {
        flex: 0 0 100%;
        max-width: 100%;
        /* padding: 8px; */
    }

    .containerTarjetas {
        padding: 10%;
        gap: 10px;
    }
}

/* hace que las tarjetas sean responsivas */
.card-img-top {
    width: 100%;
    height: auto;
    display: block;
}