* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* :root {
    --cactus1: #164a41;
    --cactus2: #4d774e;
    --cactus3: #90c880;
    --cactus4: #f1b24a;
    --fondo: #ededed;
    --fondo1: #ffffff;
    --fondo2: #e5e5e5;
} */ 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height:  100vh;
    padding: 20px;
}

.bg-green {
    background-color: #164a41;
}

body > p {
    font-weight: bolder;
    font-size: 35px;
    color: white;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;

    max-width: 1500px; 
    width: 100%;
    gap: 15px;
    padding: 10px;
    
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 500px;
    width: 100%;
    padding: 15px;

    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    text-decoration: none;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 1000px;
    width: 100%;
    gap: 15px;
    
}

.subRight1,
.subRight2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /* Nuevo */
    justify-content: center;

    width: 100%;
    gap: 15px;
}


.subSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 450px;
    width: 100%;
    aspect-ratio: 1 / 1;

    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    
}

.subSub span {
    text-align: center;
    max-width: 90%;
    font-size: 1.2rem;
}

.img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.imgPhone {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: contain;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white !important;
}

.left span{
    font-size: 1.3rem;
}

@media (max-width: 1200px) {
    .mainContainer {
        flex-direction: column;
    }

    .rightContainer,
    .leftContainer {
        max-width: 90%;
    }
}

@media (max-width: 900px) {
    .subRight1,
    .subRight2 {
        flex-direction: column;
    }

    .subSub {
        max-width: 350px;
        width: 90%;
    }

    body > p {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .left span {
        font-size: 1rem;
    }

    .subSub span {
        font-size: 1rem;
    }

    body > p {
        font-size: 1.5rem;
    }

    .mainContainer {
        padding: 0;
        gap: 10px;
    }
}
