* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.bg-green {
    background-color: #164a41;
}

body > p {
    font-weight: bolder;
    font-size: 35px;
    color: white;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 1500px;
    height: 750px;
    gap: 15px;
    
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 705px;
    border: 1px transparent black;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 750px;
    text-decoration: none;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 1000px;
    height: 750px;
    gap: 15px;
    
}

.subRight1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 1000px;
    height: 375px;
    gap: 15px;
    
}

.subRight2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 1000px;
    height: 375px;
    gap: 15px;
}

.subSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 450px;
    width: 100%;
    aspect-ratio: 1 / 1;
    
    border: 1px transparent black;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
    
}

.subSub span {
    text-align: center;
    max-width: 90%;
    word-wrap: break-word;
    font-size: 20px;
}

.img {
    height: 70%;
    width: 70%;

    object-fit: contain;
    pointer-events: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white !important;
}

.left span{
    font-size: 22px;
}