* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

html,
body {
    overflow-x: hidden;
}

span {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.bg-green {
    background-color: #164A41;
}

.mainContainer {
    display: flex;
    flex-direction: row;

    height: 700px;
    width: 100%;
    max-width: 1700px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 650px;
    width: 100%;
    max-width: 850px;
    border: 1px transparent black;

    padding: 15px;
    margin: 0px;
}

.subLeft {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

    padding: 0px;
    margin: 0px;

    height: 300px;
    width: 750px;
}

.subLeft>h1 {
    text-align: left;
}

.subLeft>span {
    text-align: left;
}


.leftContainer>.subLeft>h1 {
    font-weight: bolder;
    color: #FBF5F3;
}

.leftContainer>.subLeft>span {
    color: #FBF5F3;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 300px;
    width: 100%;
    max-width: 755px;
    border: 1px transparent black;

    gap: 25px;

}

.inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    padding: 25px;
    gap: 25px;

    height: 300px;
    width: 500px;
    border: 1px transparent black;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);

    background-color: rgb(255, 255, 255, 0.05);

}

.infTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    height: 50px;
}

.infText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 500px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 750px;
    width: 850px;
    padding: 0px;
    border: 1px transparent black;
}

.subRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    height: 680px;
    width: 500px;
    padding: 15px;

    border: 1px solid white;
    border-radius: 25px;
    background-color: #FBF5F3;

    box-shadow: 0px 0px 15px 15px #0f352e;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 600px;
    width: 450px;

    padding: 25px;
}

.form>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    height: 600px;
    width: 450px;

    gap: 15px;
}

.form>form>input {
    height: 40px;
    width: 400px;
    border: 1px solid #164A41;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
}

.form>form>.comment {
    height: 300px;
    width: 400px;
    border: 1px solid #164A41;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    text-align: left;
    vertical-align: top;
}

.form>form>button {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: #164A41;
    color: #FBF5F3;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.form>form>a>button {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: #164A41;
    color: #FBF5F3;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.op {
    font-weight: bolder;
    font-size: 27px;
}

.subTit>.any {
    font-weight: light;
}

.bug {
    text-decoration: none;
    font-weight: bold;
}

.subTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.rightContainer>h1 {
    font-weight: bolder;
}

.cS {
    font-family: "Montserrat", sans-serif;
    color: #FBF5F3;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

.cSinfo {
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    color: #FBF5F3;
    text-align: left;
    font-size: 18px;
}


@media (max-width: 1200px) {
    .mainContainer {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .leftContainer,
    .rightContainer {
        width: 95%;
        height: auto;
    }

    .cards {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .cards {
        flex-direction: column;
        height: auto;
        gap: 20px;
        width: 100%;
    }

    .inf {
        width: 90%;
        height: auto;
    }

    .subLeft,
    .subRight {
        width: 90%;
        height: auto;
    }

    .form,
    .form>form {
        width: 100%;
        height: auto;
    }

    .form>form>input,
    .form>form>.comment {
        width: 100%;
    }
}

@media (max-width: 600px) {
    span {
        font-size: 16px;
    }

    .op {
        font-size: 22px;
    }

    .cS,
    .cSinfo {
        font-size: 16px;
    }

    .leftContainer,
    .rightContainer {
        padding: 10px;
    }

    .subLeft,
    .subRight {
        padding: 10px;
    }

    .form>form>button {
        width: 100%;
    }
}