* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}

.error {
    margin-top: 40px;
    text-align: center;
}

button {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
    img {
        width: 50%;

    }
}

@media (max-width: 800px) {
    img {
        width: 60%;

    }


}