/* img {
    width: 4|00px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
} */

body {
    background-image: url ("/images/error1.jpg");
    /* background-color: rgb(250, 250, 247); */
    text-align: center;
}

h2 {
    color: #4d774e box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #4d774e;
    font-weight: bold;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

button {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}