body {
    background-image: url ("/images/error1.jpg");
    text-align: center;
}

h2 {
    color: #4d774e;

}

a {
    text-decoration: none;
    color: #4d774e;
    font-weight: bold;

}

button {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
    img {
        width: 50%;

    }
}

@media (max-width: 800px) {
    img {
        width: 80%;

    }
}