.products{
    max-height: 400px;
    max-width: 400px;
}

.redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card {
    width: 250px;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    height: 100%;
    max-width: 180px;
    max-height: 180px;
    object-fit: cover;
}

.card-body {
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 300px;
}

