* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.mainContainer{
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    gap: 15px;
    padding: 35px;
    box-shadow: 0px 0px 35px 15px #0d2b26;

    border-radius: 30px;
}

.logIn > input {
    width: 400px;
    height: 50px;
    text-align: center;
    color: #164A41;
    font-weight: bold;
    border: 1px solid #164A41;
    border-radius: 25px;
    text-decoration-line: underline;
}

.continue {

    width: 400px;
    height: 50px;
    border-radius: 25px;
    color: #FBF5F3;
    font-weight: bolder;
    outline: none;
    text-decoration: none;
    background-color: #164a41;
    font-size: 18px;
}

.bg-green {
    background-color: #164A41;
}

.bg-white {
    background-color: #FBF5F3;
}

.separator{
   width: 60%;
   height: 5px;
   margin: 20px auto;
   border: 0;
   border-top: 3px solid black;
}

.mainContainer > span {
    font-weight: bold;
    text-align: center;
}

.create {
    text-decoration: none;
    text-decoration-line: underline;
    font-weight: bolder;

    color: #164A41;
}
.bi-apple{
    text-align: right;
}

.mainContainer > p {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bolder;
    margin: 1px;
}
.SubContainer{
    
}