* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainContainer {
  width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  gap: 20px;
  padding: 40px;
  box-shadow: 0px 0px 35px 15px #0d2b26;
  border-radius: 30px;
}

.logIn > input {
  width: 400px;
  height: 50px;
  text-align: center;
  color: #164A41;
  font-weight: bold;
  border: 1px solid #164A41;
  border-radius: 25px;
}

.continue {
  width: 400px;
  height: 50px;
  border-radius: 25px;
  color: #FBF5F3;
  font-weight: bolder;
  background-color: #164a41;
  font-size: 18px;
  display: block;
  margin: 10px auto;
  border: none;
}

.bg-green {
  background-color: #164A41;
}

.bg-white {
  background-color: #FBF5F3;
}

.separator {
  width: 80%;
  margin: 20px auto;
  border: 0;
  border-top: 3px solid black;
}

.create {
  text-decoration: underline;
  font-weight: bolder;
  color: #164A41;
}

.mainContainer > .subContainer > p {
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.bi {
  margin-left: 8px;
  font-size: 18px;
}
