* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 900px;
    width: 1200px;
    border: 1px transparent black;
    border-radius: 15px;

    box-shadow: 0px 0px 10px 3px #1B3B6F;
}

.leftContainer {
    height: 900px;
    width: 600px;

    /* box-shadow: 0px 5px 15px 15px #103732; */

}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 900px;
    width: 600px;
    padding: 25px;
    border-radius: 15px;
}

.subRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 800px;
    width: 550px;
    padding: 25px;
    gap: 10px;
}

.reg {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 33px;
}

.or {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.subRight > .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 33px; */

    width: 550px;
    height: 72px;

}

.subRight > form {
    display: flex;
    flex-direction: column;
    gap: 1px;


    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 15px;
}

.signIn > label {
    font-weight: 55 0;
}

.signIn > input {
    display: flex;
    border: none;
    outline: none;
    background-color: #164A41;
    border-radius: 15px;

    height: 50px;
    width: 500px;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.signIn input::placeholder {
  color: white;
  opacity: 1;
}

.signIn > .submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    margin: 0;
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    background-color: #164A41;
    height: 65px;
    border-radius: 15px;
    padding: 25px;

    color: white;
    font-weight: 550;
    font-size: 25px;
}

.logIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 200px;
    width: 200px;
}

.cards {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.bg-green {
    background-color: #164A41;
    border-radius: 10px;
}
