* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.containerLogos {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.containerImagen>img {
    width: 100px;
}

.imagenLogos {
    border-radius: 100px;
    box-shadow: 0 0 7px #e6f7ff;
    transition: color 0.3s;
}

.texto>div:hover {
    filter: drop-shadow(2px 2px 2px rgb(168, 168, 168));
}

.containerTarjetas {
    display: flex;
    padding: 0 30px;
    gap: 15px;
    margin: 15px  0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media(max-width:700px) {
    .containerLogos {
        display: flex;
        justify-content: center;
        gap: 2px;
        margin: 0px;
        padding: 20px;
        max-height: 150px;
    }

    .containerTarjetas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        gap: 10px;
        flex-wrap: wrap;
    }


    .imagenLogos {
        max-width: 90px;
    }

    .card-img-top {
        max-width: 250px;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
    }
}