* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerLogos{
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.Samsung {
    border-radius: 100px;
    box-shadow: 0 0 7px #e6f7ff;
}

.Apple {
    border-radius: 100px;
    box-shadow: 0 0 7px #e6f7ff
}

.Xiaomi {
    border-radius: 100px;
    box-shadow: 0 0 7px #e6f7ff;
}

.Motorola {
    border-radius: 100px;
    box-shadow: 0 0 7px;
}