* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --cactus: #164a41;
}

.one>p {
    font-size: medium;
    padding: 10px;
    color: beige;
    text-align: justify;
    font-size: small;
}

.general {
    width: 100vw;
    height: auto;
    display: flex;
    /* background: linear-gradient(to right, var(--cactus), silver); */
    background-color: var(--cactus);
}

.navbar {
    /* Color blanco semi-transparente */
    background-color: rgba(255, 255, 255, 0.7);

    /* Borde sutil y sombra para darle profundidad */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

    /* Fija el navbar arriba */
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0px 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

/* Estilos de los Enlaces */
.navLinks a {
    text-decoration: none;
    color: #666;
    margin-left: 30px;
    padding: 5px 0;
    transition: color 0.3s;
}

.navLinks a:hover {
    color: #141a1a;
}


.navIcons {
    display: flex;
    gap: 25px;
    font-size: 1.1rem;
    color: #666;
    cursor: pointer;
}

.bi-person-circle {
    font-size: 30px;
    color: black;
}
.bi-cart{
    font-size: 30px;
    color: black;
}

.form-floating{
    height: 30px !important;
    width: 15vw;
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.bi-search {
    position: absolute;
    right: 20px;
}
.inputNavbar{
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
}
.box {
    width: 100vw;
    height: 50vh;

    color: beige;
    text-align: center;
}

.subbox {
    display: flex;
    justify-content: center;
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

li {
    list-style: none;
    line-height: 40px;
    text-align: start;
    padding-left: 20px;
}

.three>ul>li {
    list-style: none;
    line-height: 20px;
    text-align: start;
    padding-left: 60px;
    padding-top: 10px;
}

li>a {
    text-decoration: none;
    color: beige;
}

h2 {
    margin-bottom: 20px;
}

.copy {
    background-color: var(--cactus);
    color: beige;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: small;
    background-color: #103732;
}
