* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: 30px;
}


:root {
    --cactus1: #164a41;
    --cactus2: #4d774e;
    --cactus3: #90c880;
    --cactus4: #f1b24a;
    --fondo: #ededed;
    --fondo1: #ffffff;
    --fondo2: #e5e5e5;
}

.navbar {
    /* Color blanco semi-transparente */
    background-color: beige;

    /* Borde sutil y sombra para darle profundidad */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);


    position: fixed;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    padding: 10px 0;
}

.logo>img {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */

}


.navLinks a {
    text-decoration: none;
    color: #666;
    margin-left: 30px;
    padding: 5px 0;
    transition: color 0.3s;
}

.navLinks a:hover {
    color: #141a1a;
}


.navIcons {
    display: flex;
    gap: 15px;
    font-size: 1.1rem;
    color: #666;
    cursor: pointer;
    margin-right: 20px;

}

.bi-person-circle {
    font-size: 30px;
    color: black;
}

.bi-cart {
    font-size: 30px;
    color: black;
}

.form-floating {
    height: 40px !important;
    width: 200px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bi-search {
    position: absolute;
    right: 10px;
    flex-direction: column;
    padding-top: 5px;
}

.inputNavbar {
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
}
.bi-list {
    font-size: 30px;
    color: black;
}

.container1 {
    width: 99%;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
    flex-direction: column;
}

.lista>a {
    text-decoration: none;
    color: black !important;
    font-size: 25px;
    font-weight: bold
}


@media (min-width:1000px) {
    .botonHamburguesa {
        display: flex;
        display: none;
        flex-direction: column;
    }
}

@media(max-width:1000px) {
    .links {
        display: none;
    }

    .navlinks {
        flex-direction: column;
    }

    .offcanvas .offcanvas-body {
        position: relative;
        padding-bottom: 64px;/
    }

    .offcanvas .offcanvas-body .navIcons {
        position: absolute;
        right: 16px;
        bottom: 16px;
        margin-right: 0;
    }
}

@media(max-width:1000px) {
    .form-floating {
        display: none;
        flex-direction: column;
    }
}

/* ======== FOOTER ======= */

.general {
    width: 100%;
    display: flex;
    background-color: var(--cactus1);
}

.one>p {
    font-size: medium;
    padding: 10px;
    color: beige;
    text-align: justify;
    font-size: small;
}

.box {
    width: 100%;
    color: beige;
    text-align: center;
}

.subbox {
    display: flex;
    justify-content: center;
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

li {
    list-style: none;
    line-height: 40px;
    text-align: start;
    padding-left: 20px;
}

.three>ul>li {
    list-style: none;
    line-height: 20px;
    text-align: start;
    padding-left: 60px;
    padding-top: 10px;
}

li>a {
    text-decoration: none;
    color: beige;
}

h2 {
    margin-bottom: 20px;
}

.copy {
    background-color: var(--cactus);
    color: beige;
    padding: 10px 0 5px 10px;
    font-size: small;
    background-color: var(--cactus1);
}

@media (max-width:900px) {

    .general {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .box {
        height: 50%;
        margin-top: 10px;
    }


    .subbox {
        justify-content: left;
    }

    .three>ul>li {
        text-align: left;
        padding-left: 20px;
    }

    .one>p {
        font-size: small;
        text-align: center;
    }

    .copy {
        text-align: center;
    }
}